.main-content {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 3rem;
  background-color: #F5F5F5;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
}

.tooltip {
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  padding: 1rem;
  text-align: center;
}

.netto {
  margin: 0;
  padding: 0;
}

.block-s {
  margin-bottom: 1rem;
}

.edit-action-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: .8rem;
  border-radius: 3px;
  border: 1px solid grey;
}

.edit-action-btn:not(:last-child) {
  margin-right: 0.5rem;
}

.single-action-btn {
  color: white;
  background-color: green;
  border-color: green;
}

.edit-text {
  line-height: 1.5rem;
}

.edit-text::-moz-selection {
  background-color: #FFF9C4;
}

.edit-text::selection {
  background-color: #FFF9C4;
}

.text-highlighted {
  background-color: #FFF9C4;
}

.text-deleted {
  background-color: #FFCDD2;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 2px;
  text-decoration: line-through;
}

.text-added {
  background-color: #C8E6C9;
  border-radius: 5px;
  padding: 2px 5px;
}

.input {
  width: 80%;
  margin-bottom: 1rem;
}
