body {
  font-family: roboto;
}

.main-content {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 3rem;
  border-radius: 5px;
}

.tooltip {
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  top: 50px;
  padding: 1rem;
  background-color: rgb(50, 50, 50);;
  color: white;
  width: 350px;
  text-align: center;
}

.tooltip .input {
  background-color: inherit;
  color: inherit;
}

.netto {
  margin: 0;
  padding: 0;
}

.block-s {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
}

.textarea {
  width: 400px;
  height: 300px;
  display: block;
  margin: 1rem auto;
}

.share-link {
    padding: 1rem;
    background-color: #F5F5F5;
    border-radius: 3px;
    display: inline-block;
    opacity: 0.87;
}

.btn-center-block {
  margin: 0 auto;
  display: block;
}

.edit-action-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: .8rem;
  border-radius: 3px;
  border: 1px solid grey;
}

.edit-action-btn:not(:last-child) {
  margin-right: 0.5rem;
}

.single-action-btn {
  color: white;
  border: none;
  cursor: pointer;
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.edit-text {
  line-height: 1.5rem;
  font-size: 1.2rem;
  opacity: 0.87;
  padding: 1rem 0;
}

.edit-text::-moz-selection {
  background-color: #FFF9C4;
}

.edit-text::selection {
  background-color: #FFF9C4;
}

.text-highlighted {
  background-color: #FFF9C4;
}

.text-deleted {
  background-color: #FFCDD2;
  border-radius: 5px;
  padding: 0 5px;
  margin-right: 2px;
  text-decoration: line-through;
}

.text-added {
  background-color: #C8E6C9;
  border-radius: 5px;
  padding: 0 5px;
}

.diff-container {
  position: relative;
}

.revert-btn-container .revert-btn {
  display: none;
  position: absolute;
  right: 1rem;
  top: -0.6rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.1rem 0.3rem;
  font-size: .8rem;
  border-radius: 3px;
}

.revert-btn-container:hover .revert-btn {
  display: inline;
}

.revert-btn-container {
  position: absolute;
  top: -10px;
  left: 0;

  padding: 1rem 1rem 0 0;
  width: 100%;
  height: 100%;
}

.header-main {
  opacity: 0.54;
  text-align: center;
  margin: 3rem 0;
}

.input {
  width: 100%;
  font-size: 1rem;
  padding-bottom: 4px;
  border: none;
  border-bottom: 1px solid rgba(224, 64, 251, .3);
}

.input:focus {
  outline: none;
  border-bottom: 1.5px solid rgba(224, 64, 251, .8);
}

.input:placeholder {
  opacity: 0.1;
  font-family: inherit;
}
